:root {
  /* bg colors */
  --bg-primary: #121418;
  --bg-secundary: #343A40;
 
  /* text colors */
  --color-primary: #fff;
  
  /* border colors */
  --border-primary: #2F353A;
  
  /* hover colors */
  --color-hover: #52575C;
}

body {
  background-color: var(--bg-primary) !important;
  color: var(--color-primary) !important;
}

a {
  color: var(--color-primary) !important;
}

.navbar-toggler {
  background-color: var(--color-primary) !important;
}

.navbar-toggler:focus {
  border: solid var(--border-primary) 1px;
}