:root {
  /* bg colors */
  --bg-primary: #121418;
  --bg-secundary: #343a40;
  --bg-card: #202124;

  /* text colors */
  --color-primary: #fff;
  --color-placeholder: #f4e8e8;
  --color-link: #d97328;

  /* border colors */
  --border-primary: #2f353a;

  /* hover colors */
  --color-hover: #52575c;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background-color: var(--bg-primary) !important;
  color: var(--color-primary) !important;
}

a {
  color: var(--color-primary) !important;
  text-decoration: none !important;
}

.navbar-toggler {
  background-color: var(--color-primary) !important;
}

.navbar-toggler:focus {
  border: solid var(--border-primary) 1px;
}

input,
textarea,
select {
  color: var(--color-primary) !important;
  background: none !important;
  border: var(--border-primary) solid 2px !important;
}

option {
  background-color: var(--bg-secundary);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-placeholder) !important;
}

.modal-content {
  border: var(--border-primary) solid 2px !important;
  background-color: var(--bg-card) !important;
}

.card {
  color: var(--color-primary) !important;
  background: var(--bg-card) !important;
  border: var(--border-primary) solid 2px !important;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 8px;
}

/* COMMON CLASSES */

.link {
  color: var(--color-link) !important;

  &:hover {
    text-decoration: underline !important;
  }
}
