* {
  margin: 0;
  padding: 2.5px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5 !important;
  color: #333;
}

.qr-code {  
  img {
    width: 100%;
  }
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 15px;
}

.main-container {
  display: flex;
  flex-direction: row;
  gap: 5px;

  section {
    background-color: #ddd;
    border-radius: 8px;
    padding: 10px;
  }

  .info-container {
    width: 30%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .form-container {
    width: 70%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .accordion {
    .card {
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card-header {
      padding: 2px;
      background-color: #fff;
    }

    .card-body, button {
      padding: 0px;
    }

    button:focus {
      box-shadow: none;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
