.navbar-title {
  display: block;
}

/* Default behavior for smaller screens */
.custom-nav {
  display: flex;
  flex-direction: row;
}

/* Adjust the layout for larger screens */
@media (min-width: 768px) {
  .custom-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    flex-direction: column;
    background-color: var(--bg-secundary);
    border-right: var(--border-primary) solid;
    padding: 10px;
  }

  .navbar-title {
    display: none;
    margin-left: 200px;
  }
}
